# Arquivos a ignorar
*.php
**.swp
.gitignore
nbproject/project.properties
nbproject/project.xml
nbproject/configs/ubuntu.properties
local/**/*full.png
# Arquivos a ignorar o comando de ignore
!everyz.php
!zbxe-logo.php
!everyz.initdb.php