/* 
    Created on : 14/12/2016, 09:23:27
    Author     : spaww
*/

#listButton li { 
    list-style: none;
    text-align: center;
    background-color: #000000;
    margin-right: 30px;
    width: 150px;
    line-height: 60px;
}

#listButton li a{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}
 
#listButton li a:hover {
    text-decoration: none;
    color: #000000;
    background-color: #33B5E5;
}

/* Styles for resize search input */

#search:focus {
    width: 198px;
}
#search {
    width: 100px;
}
