<div class="table-forms-td-left">
  <label for="severity_name_1" class="form-label-asterisk">Information</label>
</div>
<div class="table-forms-td-right">
  <input type="text" id="severity_name_1" name="severity_name_1" value="Information" maxlength="32" style="width: 453px;" aria-required="true">
  <div class="form-input-margin"></div>
  <div class="input-color-picker">
    <input type="text" id="severity_color_1" name="severity_color_1" value="7499FF" maxlength="6" style="width: 96px;">
  </div>
  <script type="text/javascript">
  jQuery("#severity_color_1").colorpicker()
  </script>
</div>
