<table class="mce-grid mce-grid-border mce-colorbutton-grid" role="list" cellspacing="0">
   <tbody>
      <tr>
         <td class="mce-grid-cell">
            <div id="mceu_176-0" data-mce-color="#000000" role="option" tabindex="-1" style="background-color: #000000" title="Black"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-1" data-mce-color="#993300" role="option" tabindex="-1" style="background-color: #993300" title="Burnt orange"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-2" data-mce-color="#333300" role="option" tabindex="-1" style="background-color: #333300" title="Dark olive"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-3" data-mce-color="#003300" role="option" tabindex="-1" style="background-color: #003300" title="Dark green"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-4" data-mce-color="#003366" role="option" tabindex="-1" style="background-color: #003366" title="Dark azure"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-5" data-mce-color="#000080" role="option" tabindex="-1" style="background-color: #000080" title="Navy Blue"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-6" data-mce-color="#333399" role="option" tabindex="-1" style="background-color: #333399" title="Indigo"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-7" data-mce-color="#333333" role="option" tabindex="-1" style="background-color: #333333" title="Very dark gray"></div>
         </td>
      </tr>
      <tr>
         <td class="mce-grid-cell">
            <div id="mceu_176-8" data-mce-color="#800000" role="option" tabindex="-1" style="background-color: #800000" title="Maroon"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-9" data-mce-color="#FF6600" role="option" tabindex="-1" style="background-color: #FF6600" title="Orange"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-10" data-mce-color="#808000" role="option" tabindex="-1" style="background-color: #808000" title="Olive"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-11" data-mce-color="#008000" role="option" tabindex="-1" style="background-color: #008000" title="Green"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-12" data-mce-color="#008080" role="option" tabindex="-1" style="background-color: #008080" title="Teal"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-13" data-mce-color="#0000FF" role="option" tabindex="-1" style="background-color: #0000FF" title="Blue"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-14" data-mce-color="#666699" role="option" tabindex="-1" style="background-color: #666699" title="Grayish blue"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-15" data-mce-color="#808080" role="option" tabindex="-1" style="background-color: #808080" title="Gray"></div>
         </td>
      </tr>
      <tr>
         <td class="mce-grid-cell">
            <div id="mceu_176-16" data-mce-color="#FF0000" role="option" tabindex="-1" style="background-color: #FF0000" title="Red"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-17" data-mce-color="#FF9900" role="option" tabindex="-1" style="background-color: #FF9900" title="Amber"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-18" data-mce-color="#99CC00" role="option" tabindex="-1" style="background-color: #99CC00" title="Yellow green"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-19" data-mce-color="#339966" role="option" tabindex="-1" style="background-color: #339966" title="Sea green"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-20" data-mce-color="#33CCCC" role="option" tabindex="-1" style="background-color: #33CCCC" title="Turquoise"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-21" data-mce-color="#3366FF" role="option" tabindex="-1" style="background-color: #3366FF" title="Royal blue"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-22" data-mce-color="#800080" role="option" tabindex="-1" style="background-color: #800080" title="Purple"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-23" data-mce-color="#999999" role="option" tabindex="-1" style="background-color: #999999" title="Medium gray"></div>
         </td>
      </tr>
      <tr>
         <td class="mce-grid-cell">
            <div id="mceu_176-24" data-mce-color="#FF00FF" role="option" tabindex="-1" style="background-color: #FF00FF" title="Magenta"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-25" data-mce-color="#FFCC00" role="option" tabindex="-1" style="background-color: #FFCC00" title="Gold"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-26" data-mce-color="#FFFF00" role="option" tabindex="-1" style="background-color: #FFFF00" title="Yellow"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-27" data-mce-color="#00FF00" role="option" tabindex="-1" style="background-color: #00FF00" title="Lime"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-28" data-mce-color="#00FFFF" role="option" tabindex="-1" style="background-color: #00FFFF" title="Aqua"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-29" data-mce-color="#00CCFF" role="option" tabindex="-1" style="background-color: #00CCFF" title="Sky blue"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-30" data-mce-color="#993366" role="option" tabindex="-1" style="background-color: #993366" title="Red violet"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-31" data-mce-color="#FFFFFF" role="option" tabindex="-1" style="background-color: #FFFFFF" title="White"></div>
         </td>
      </tr>
      <tr>
         <td class="mce-grid-cell">
            <div id="mceu_176-32" data-mce-color="#FF99CC" role="option" tabindex="-1" style="background-color: #FF99CC" title="Pink"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-33" data-mce-color="#FFCC99" role="option" tabindex="-1" style="background-color: #FFCC99" title="Peach"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-34" data-mce-color="#FFFF99" role="option" tabindex="-1" style="background-color: #FFFF99" title="Light yellow"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-35" data-mce-color="#CCFFCC" role="option" tabindex="-1" style="background-color: #CCFFCC" title="Pale green"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-36" data-mce-color="#CCFFFF" role="option" tabindex="-1" style="background-color: #CCFFFF" title="Pale cyan"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-37" data-mce-color="#99CCFF" role="option" tabindex="-1" style="background-color: #99CCFF" title="Light sky blue"></div>
         </td>
         <td class="mce-grid-cell">
            <div id="mceu_176-38" data-mce-color="#CC99FF" role="option" tabindex="-1" style="background-color: #CC99FF" title="Plum"></div>
         </td>
         <td class="mce-grid-cell mce-colorbtn-trans">
            <div id="mceu_176-39" data-mce-color="transparent" role="option" tabindex="-1" style="background-color: transparent" title="No color">×</div>
         </td>
      </tr>
   </tbody>
</table>
